/* Main text color #757575  */
/* Title text color #212121 */
/* AcÑent #2196F3 */
/* Black #000000 */
/* White #ffffff */
/* Footer contacts rgba(255, 255, 255, 0.6) */

/* Primary background color #ffffff */
/* Secondary background color #2f303a */
/* Third background color #e5e5e5 */
/* Fourth background color f5f4fa */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #e5e5e5;
  --fourth-background-color: #f5f4fa;
  --logo-color: #2196f3;
  --logo-part-header-color: #000000;
  --logo-part-footer-color: #ffffff;
  --border-bottom-color: #ececec;
  --button-hero-text-color: #ffffff;
  --button-hero-background-color: #2196f3;
  --button-hero-accent-background-color: #188ce8;
  --button-text-color: #212121;
  --button-background-color: #f5f4fa;
  --button-accent-text-color: #ffffff;
  --button-accent-background-color: #2196f3;
  --address-text-color: #ffffff;
  --contacts-footer-text-color: rgba(255, 255, 255, 0.6);
  --shadow-team-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-button-accent: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-description-border: #eeeeee;
  --card-set-gap: 30px;
}
/* Page background and text color */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* List options */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Site logo */
.logo {
  margin-right: 93px;

  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part-header {
  color: var(--logo-part-header-color);
}
.logo-part-footer {
  color: var(--logo-part-footer-color);
}
/* Container position */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Page-header */
.header {
  border-bottom: 1px solid var(--border-bottom-color);
}
/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* Nav-part */
.nav-part {
  display: flex;
  align-items: center;
}
/* Site nav */
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Site contacts */
.main-nav .contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Site hero */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.hero-title {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.hero > .button-contact {
  margin: 0;
  padding-bottom: 200px;
}
/* Site sections */
.section {
  padding: 94px 0;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.24;
  text-align: center;
}
/* Features */
.feature .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.feature > .description {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.feature .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  /* width: calc((100% - 90px) / 4); */
}
/* .feature .item + .item {
  margin-left: 30px;
} */
/* Example of work */
.example.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.example .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  /* width: calc((100% - 60px) / 3); */
}
/* .example .item + .item {
  margin-left: 30px;
} */
.example > .item {
  margin-bottom: 94px;
}
/* Team */
.team {
  background-color: var(--fourth-background-color);
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.our-team .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  /* width: calc((100% - 90px) / 4); */
  background-color: var(--primary-background-color);
  box-shadow: var(--shadow-team-card);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
/* .our-team .item + .item {
  margin-left: 30px;
} */
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}
.our-team .img {
  margin-bottom: 30px;
}
.our-team .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team .profession {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Button */
.button-hero {
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--button-hero-text-color);
  background-color: var(--button-hero-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;

  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-accent-background-color);
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--button-text-color);
  background-color: var(--button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--button-accent-text-color);
  background-color: var(--button-accent-background-color);
  box-shadow: var(--shadow-button-accent);
  border-radius: 4px;
}
.buttons .item + .item {
  margin-left: 8px;
}
/* Portfolio */
.section.portfolio-all {
  padding-top: 73px;
  padding-bottom: 115px;
}
.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.portfolio.list .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  overflow: hidden;
  /* margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3); */
}
/* .portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.portfolio .link {
  text-decoration: none;
}
.portfolio .description {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-description-border);
}
.portfolio .work-type {
  margin: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}
.footer-elements {
  padding-top: 60px;
  padding-right: auto;
  padding-bottom: 60px;
  padding-left: auto;
}
.footer .logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer .address {
  display: block;
  margin-bottom: 9px;

  color: var(--address-text-color);
  font-style: normal;
}
.contacts.lower > .item:first-child {
  margin-bottom: 9px;
}
.contacts.lower > .item:last-child {
  margin-left: 0;
}
.contacts .link-footer {
  color: var(--contacts-footer-text-color);

  text-decoration: none;
}
.contacts .link-footer:hover,
.contacts .link-footer:focus {
  color: var(--accent-color);
}
